DavidWebTest/WebContent/wsdl/ServicioLog.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/ServicioLog/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioLog" targetNamespace="http://www.example.org/ServicioLog/">
  <wsdl:types>
    <xsd:schema elementFormDefault="unqualified" targetNamespace="http://www.example.org/ServicioLog/">
      <xsd:element name="ConsultaLogRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="top" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultaLogResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element maxOccurs="unbounded" minOccurs="0" name="registrosLog">
          		<xsd:complexType>
          			<xsd:sequence>
          				<xsd:element name="log" type="tns:InfoLog"/>
          			</xsd:sequence>
          		</xsd:complexType>
          	</xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="InfoLog">
      	<xsd:sequence>
      		<xsd:element name="id" type="xsd:string"/>
      		<xsd:element name="trama_in" type="xsd:string"/>
      		<xsd:element name="trama_out" type="xsd:string"/>
      		<xsd:element name="fecha" type="xsd:string"/>
      		<xsd:element name="usuario" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaLogRequest">
    <wsdl:part element="tns:ConsultaLogRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ConsultaLogResponse">
    <wsdl:part element="tns:ConsultaLogResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="ServicioLog">
    <wsdl:operation name="ConsultaLog">
      <wsdl:input message="tns:ConsultaLogRequest"/>
      <wsdl:output message="tns:ConsultaLogResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioLog" type="tns:ServicioLog">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ConsultaLog">
      <soap:operation soapAction="http://www.example.org/ServicioLog/ConsultaLog"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioLog">
    <wsdl:port binding="tns:ServicioLog" name="ServicioLog">
      <soap:address location="http://localhost:8080/DavidWebTest/services/ServicioLog"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
